<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <script type="text/javascript" src="/src/JS/UserProfileDisplay.js"></script>
  <link rel="stylesheet" type="text/css" href="../sass/style.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="userprofile.html">Profile</a></li>
      <li><a href="userslist.html">Users</a></li>
      <li><a href="edituser.html">Edit User</a></li>
      <li><a href="newuser.html">Sign up</a></li>
    </ul>
  </nav>

  <header>
    <hgroup>
      <h1>User Profile</h1>
      <h2>Display user profile properties</h2>
    </hgroup>
  </header>

  <main>
    <button id="PropertiesToggle" onclick="toggleUserProperties()"> ^ </button>
    <span id="UserName">Name: Juan Loera</span>
    <p id="UserPhone">Phone: (956)555-5555</p>
    <p id="UserEmail">Email: Juan.Loera@banno.com</p>
  </main>

  <footer>
    <p>Copyright 2015</p>
  </footer>
</body>
</html>
